@import ../App/App.sass


.PersonalArea
    h1
        font-size: 1.5em
        margin-top: 0

    .content
        display: flex
        width: 100%
        @media only screen and (min-width : 320px) and (max-width : 480px)
          flex-direction: column

        aside
            width: 30%
            @media only screen and (min-width : 320px) and (max-width : 480px)
              width: 100%

        article
            width: 70%
            @media only screen and (min-width : 320px) and (max-width : 480px)
              width: 100%
