@import ../App/App.sass
@import ../../style/device_mixin.sass

.PersonalArea
    h1
        font-size: 1.5em
        margin-top: 0

    .content
        display: flex
        width: 100%
        @include device("mobile")
          flex-direction: column

        aside
            width: 30%
            @include device("mobile")
              width: 100%

        article
            width: 70%
            @include device("mobile")
              width: 100%
