@import ../../style/palette.sass

$movile-width : 414px
@media screen and (max-width: $movile-width)
    .TopBar
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        background-color: $primary-color-dark
        height: 3em

        .Hamburger
            background-image: url('./hamburger.png')
            background-size: cover
            width: 3em
            height: 3em
            margin-left: 0.5em

@media screen and (min-width: $movile-width+1)
    .TopBar
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        background-color: $primary-color-dark
        height: 3em

        .Hamburger
            display: none
