@import ../App/App.sass
@import ../../style/palette.sass

.Item
  width: 25%
  position: relative
  padding: 1em
  margin-left: 1em
  margin-right: 3.5em

  .overlay
    position: absolute
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 0
    transition: .5s ease
    color: $primary-color-text
    position: absolute
    overflow: hidden
    top: 70%
    left: 50%
    transform: translate(-50%, -50%)

    .overlay-wrapper
      display: flex

    button
      display: none
      flex: 1 1 auto

      &:last-child
        margin-left: 0.5em

  .card
    padding: 1em
    flex-basis: 25%
    flex-grow: 1
    background-color: $primary-color-text
    box-shadow: 1px 4px 9px 0px $secondary-text-color

  .image img
    width: 100%

  .info
    margin-top: auto
    padding-top: 20px
    background-color: $primary-color-text
    color: $primary-text-color
    text-align: center
    position: relative
    text-shadow: $divider-color

  .info div.name
    font-size: 0.9em
    font-weight: 600
    height: 2.5em

  .info div.price
    color: $primary-text-color
    font-size: 2em

  .info div.description
    color: $primary-text-color
    font-size: 0.8em
    font-style: italic

  .in_Stock
    font-size: 0.75em
    margin-left: 0.2em
    margin-top: 1em
    p
      display: inline
      color: $secondary-text-color
      margin-left: 0.45em

.Item:hover .overlay
  margin-top: -1em
  background-color: $primary-color-text
  opacity: 1
  height: 100%
  display: flex
  justify-content: space-around
  flex-direction: column
  
  label
    margin: auto auto
    text-align: center
    background-color: $primary-color-dark
    color: $primary-color-text
    width: 80%
    padding: 0.5em

  button
    border: none
    padding: 0.8em 0.4em
    min-height: 2em
    background: $primary-color-light
    display: inline-block
    font-size: 0.9em
    cursor: pointer
    color: $primary-color-text
    outline: none

    &:hover:not(.buttonDisabled)
      background-color: $primary-color-dark
      box-shadow: $primary-color-dark 1px 3px 8px 0px

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px)
  .Item
    width: 100%

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px)
  .Item
    width: 33.33%
