@import ../App/App.sass
@import ../../style/palette.sass

.Item
  position: relative
  padding: 1em
  flex: 1 1 30%

  &:hover .overlay
    opacity: 1
    visibility: visible

  .overlay
    display: flex
    flex-flow: column nowrap
    justify-content: space-between
    position: absolute
    opacity: 0
    visibility: hidden
    bottom: 0
    left: 0
    right: 0
    top: 0
    transition: .5s ease
    background-color: $primary-color-text

    label
      text-align: center
      background-color: $primary-color-dark
      color: $primary-color-text
      padding: 0.7em

  .overlay-buttons
    display: flex
    flex-grow: 1

    button
      display: inline-block
      flex: 1 1 auto
      border: none
      color: $primary-color-text
      background: $primary-color-light
      cursor: pointer
      outline: none
      height: 2.4em
      font: inherit

      &:last-child
        margin-left: 0.5em

      &:hover:not(.buttonDisabled)
        background-color: $primary-color-dark
        box-shadow: $primary-color-dark 1px 3px 8px 0px

  .card
    padding: 1em
    background-color: $primary-color-text
    box-shadow: 1px 4px 9px 0px $secondary-text-color

  .image img
    width: 100%

  .info
    margin-top: 0.5em
    background-color: $primary-color-text
    color: $primary-text-color
    text-align: center
    position: relative
    text-shadow: $divider-color

    .name
      font-weight: 600
      font-size: 125%

    .price
      color: $primary-text-color
      margin: 0.2em
      font-size: 200%

    .description
      color: $primary-text-color
      font-style: italic

  .in_Stock
    font-size: 0.75em
    margin-left: 0.2em
    margin-top: 1em
    p
      display: inline
      color: $secondary-text-color
      margin-left: 0.45em
