@import ../App/App.sass
@import ../../style/palette.sass

.Item
  width: 25%
  position: relative
  padding: 1em
  margin-left: 1em
  margin-right: 3.5em

  .overlay
    position: absolute
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 0
    transition: .5s ease
    display: flex
    justify-content: space-around
    white-space: nowrap 
    color: white
    position: absolute
    overflow: hidden
    top: 70%
    left: 50%
    transform: translate(-50%, -50%)

    button
      display: none

  .card
    padding: 1em
    flex-basis: 25%
    flex-grow: 1
    background-color: $primary-color-text
    box-shadow: 1px 4px 9px 0px $secondary-text-color

  .image img
    width: 100%

  .info
    margin-top: auto
    padding-top: 20px
    background-color: $primary-color-text
    color: $primary-text-color
    text-align: center
    position: relative
    text-shadow: $divider-color

  .info div.name
    font-size: 0.9em
    font-weight: 600
    height: 2.5em

  .info div.price
    color: $primary-text-color
    font-size: 2em

  .info div.description
    color: $primary-text-color
    font-size: 0.8em
    font-style: italic

  .in_Stock
    font-size: 0.75em
    margin-left: 0.2em
    margin-top: 1em
    p
      display: inline
      color: #888
      margin-left: 0.45em

.Item:hover .overlay
  margin-top: -1em
  background-color: white
  opacity: 1
  height: 100%
  display: flex
  justify-content: space-around
  flex-direction: column
  
  label
    margin: auto auto
    text-align: center
    border: 0
    background-color: #4288CC
    color: #FFF
    width: 80%
    padding-top: 0.3em
    min-height: 1.6em

  button
    border: none
    padding: 0.8em 0.4em
    min-height: 2em
    margin: 0.3em
    background: linear-gradient(rgb(89, 155, 179) 5%, rgb(64, 140, 153) 100%) rgb(89, 155, 179)
    display: inline-block
    font-size: 0.9em
    cursor: pointer
    color: rgb(255, 255, 255)
    background-color: white

  .buttonDisabled
    background: rgba(212,228,239,1)
    box-shadow: rgb(39, 104, 115) 0px 0px 0px 0px

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px)
  .Item
    width: 100%

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px)
  .Item
    width: 33.33%
