@import ../App/App.sass
.SearchBar
    min-width: 10em
    width: 33%
    margin: auto

    .box
        padding: 1rem
        background-color: #f7f7f7
        display: flex

        input[type="text"]
            border: 1px solid #ccc
            padding: 5px
            flex: 1 0 auto

        .submit
            flex: 0 0 auto
            border: 0
            color: white
            white-space: nowrap
            padding: 0.48rem 0.8rem
        
           