@import ../App/App.sass


.SidebarMenu
    background-color: $primary-color-light
    padding: 1em

    ul
        list-style: none
        padding: 0
        display: flex
        flex-direction: column
        @media only screen and (min-width : 320px) and (max-width : 480px)
            flex-direction: row

        li
            padding: 1em 0.5em

            &.active
                background-color: $primary-color-dark

                a
                    color: $primary-color-text

            a
                color: $primary-text-color
                text-decoration: none
