.CategoryMenu
    display: flex
    flex-wrap: wrap
    justify-content: center

    ul
        list-style: none
        margin: 0
        padding: 0
        display: flex
        flex-wrap: wrap

        li
            flex: 1 1 15%
            background-color: #303F9F;

            &.active
                background-color: #3F51B5

            a
                display: block;
                height: 2em;
                font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight: 300;
                -webkit-font-smoothing: antialiased;
                color: #FFFFFF;
                text-transform: uppercase;
                padding: 2em;
                text-decoration: none;
                text-align: center;
                transition: .3s

                &:hover
                    color: lighten(#303F9F, 30%);
